[submodule "modules/godex"]
	path = modules/godex
	url = https://github.com/GodotECS/godex.git
[submodule "godot"]
	path = godot
	url = https://github.com/GodotECS/godot.git
[submodule "tests"]
	path = tests
	url = https://github.com/GodotECS/godex_tests.git
